<div 
    class=" text-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300 ease-in-out hover:bg-gray-600/50 border-2 border-transparent flex flex-col gap-4"
>
    @if (this.agregar) {
        <form [formGroup]="formularioAgregarTarea" (ngSubmit)="AgregarTarea()" class="flex flex-col gap-3">
            <!-- Campo para el título -->
            <input 
                type="text" 
                formControlName="titulo" 
                placeholder="Título" 
                class="w-full bg-transparent border-b-2 border-gray-400 focus:border-white outline-none p-2 text-lg"
            />
            
            <!-- Campo para la descripción -->
            <textarea 
                formControlName="descripcion" 
                placeholder="Descripción" 
                rows="3"
                class="w-full bg-transparent border-b-2 border-gray-400 focus:border-white outline-none p-2 text-sm resize-none"
            ></textarea>
            
            <!-- Botones de acción -->
            <div class="flex justify-end gap-2 mt-2">
                <button type="submit" 
                    class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg transition-all duration-300">
                    Añadir tarea
                </button>
                <button type="button" (click)="this.MostraroOcultarFormulario()" 
                    class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg transition-all duration-300">
                    Cancelar
                </button>
            </div>
        </form>
    } @else {
        <button (click)="this.MostraroOcultarFormulario()" 
            class="flex gap-2 cursor-pointer items-center text-white p-2 rounded-lg transition-all duration-300"
        >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e3e3e3"><path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z"/></svg>
            Añadir tarea
        </button>
    }
</div>
