<div 
    class="text-white rounded-xl shadow-md hover:shadow-lg transition-all duration-500 ease-in-out border-2 border-transparent flex flex-col gap-4"
    [ngClass]="{'hover:bg-gray-600/50': !this.agregar}"
>
    @if (this.agregar) {
        <form [formGroup]="formularioAgregarTarea" (ngSubmit)="AgregarTarea()" 
            class="flex flex-col gap-2 animate-fade-in transition-all duration-500 ease-in-out"
        >
            <div class="flex flex-col gap-2 p-2 rounded-xl transition-all duration-500"
                [ngClass]="{'bg-gray-600/50': this.agregar}"
            >
                <!-- Campo para el título -->
                <input 
                    type="text" 
                    formControlName="titulo" 
                    placeholder="Introduzca el título" 
                    class="w-full bg-transparent border-1 rounded-md border-gray-400/50 focus:border-white outline-none p-1 text-md focus:ring-1 focus:ring-white transition-all duration-300"
                    [ngClass]="{'border-red-500': this.formularioAgregarTarea.get('titulo')?.invalid && (this.formularioAgregarTarea.get('titulo')?.touched)}"
                />
                
                <!-- Campo para la descripción -->
                <textarea 
                    formControlName="descripcion" 
                    placeholder="Introduzca la descripción" 
                    rows="3"
                    class="w-full bg-transparent border-1 rounded-lg border-gray-400/50 focus:border-white outline-none p-1 text-md resize-none focus:ring-1 focus:ring-white transition-all duration-300"
                    [ngClass]="{'border-red-500': this.formularioAgregarTarea.get('descripcion')?.invalid && (this.formularioAgregarTarea.get('descripcion')?.touched)}"
                ></textarea>
            </div>
            
            <!-- Botones de acción -->
            <div class="flex justify-start gap-2">
                <button type="submit" 
                    class="bg-blue-400 hover:bg-blue-500 font-medium cursor-pointer text-black px-3 py-1 rounded-sm transition-all duration-300 ease-in-out transform hover:scale-105"
                >
                    Añadir tarea
                </button>
                <button type="button" class="cursor-pointer p-2 rounded-sm hover:bg-gray-500/30 transition-all duration-300 ease-in-out transform hover:scale-105" 
                    (click)="this.MostraroOcultarFormulario()" title="Cancelar">
                    <app-cerrar-icono />
                </button>
            </div>
        </form>
    } @else {
        <button (click)="this.MostraroOcultarFormulario()" 
            class="flex gap-2 cursor-pointer items-center text-white p-2 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105"
        >
            <app-agregar-icono />
            Añadir tarea
        </button>
    }
</div>
