<div>
    @if (this.agregar) {
        <form [formGroup]="formularioAgregarTarea" (ngSubmit)="AgregarTarea()">
            <input type="text" formControlName="titulo" placeholder="Titulo" />
            <input type="text" formControlName="descripcion" placeholder="Descripcion" />
            
            <div>
                <button type="submit">Añadir tarea</button>
                <button (click)="this.MostraroOcultarFormulario()">Cancelar</button>
            </div>
        </form>
    }@else {
        <button (click)="this.MostraroOcultarFormulario()">
            Añadir tarea
        </button>
    }
</div>